{% extends "common/main_base.html" %}
{% block title%}{{ movie.title }}{% endblock %}
{% block content %}
<img src="{{movie.poster}}" />
<b>Title:</b> {{ movie.title }}<br>
<b>Plot:</b> {{ movie.plot }}<br>
<b>Released:</b> {{ movie.releaseDate }}<br>
<b>Director:</b> {{ movie.director }}<br>
<b>IMDB:</b> <a href="{{ movie.imdbLink }}">{{ movie.imdbLink }}</a><br>
<br>
<h2>Games:</h2>
{% include "game/list.html" %}

<h2>Reviews:</h2>
{% include "review/list.html" %}

<a href="/movie/edit/{{movie.id}}">Edit</a>
<a href="/movie/delete/{{movie.id}}">Delete</a>
{% endblock %}