{% extends "common/main_base.html" %}
{% block title%}{{ movie.title }}{% endblock %}
{% block content %}
<img class="poster" src="/image/get/{{movie.poster|urlencode:""}}" />
<ul class="title_block">
	<li>
		<div class="label">Title:</div>{{ movie.title }}
	</li>
	<li>
		<div class="label">Plot:</div>{{ movie.plot }}
	</li>
	<li>
		<div class="label">Released:</div>{{ movie.releaseDate }}
	</li>
	<li>
		<div class="label">Director:</div>{{ movie.director }}
	</li>
	<li>
		<div class="label">IMDB:</div><a href="{{ movie.imdbLink }}">{{ movie.imdbLink }}</a>
	</li>
</ul>
<div class="section">
	<a class="button" href="/movie/edit/{{movie.id}}">Edit</a>
	<a class="button" href="/movie/delete/{{movie.id}}">Delete</a>
</div>
<div class="section">
	<h2>Games:</h2>
	{% include "game/list.html" %}
</div>
<div class="section">
	<h2>Reviews:</h2>
	{% include "review/list.html" %}
</div>
{% endblock %}