{% extends "common/main_base.html" %}
{% block title%}{{ game.title }}{% endblock %}
{% block content %}
<div class="section">
	<div class="label">Title:</div>{{ game.title }}<br>
	<div class="label">Summary:</div>{{ game.summary }}<br>
</div>
<div class="section">
	<a class="button" href="/game/edit/{{game.id}}">Edit</a>
</div>
<div class="section">
	<h2>Rules:</h2>
	<ul id="rules" class="rules">
	{% for rule in rules %}
	<li class="rule" id="{{ rule.id }}">
		<div class="text">{{ rule.points }} when... {{ rule.description }}</div>
		<a class="button delete" onclick="delete_rule({{rule.id}})" href="#">Delete</a>
	</li>
	{% endfor %}
	</ul>
</div>
<div class="inlineadd">
	<form onsubmit="add_rule();">
	<lable>New Rule:</lable>
		<select name="points">
		<option>Drink</option>
		<option>2 Drinks</option>
		<option>3 Drinks</option>
		<option>Finish Glass</option>
		<option>Drink Full glass</option>
	</select> when...
	<input type="text" name="description" />
	<b class="button" id="add_rule">Add</b>
	</form>
</div>
<script type="text/javascript">
$("#add_rule").click(add_rule);
function add_rule()
{
	$.post("/rule/add/", 
		{ 
			game_id: "{{ game.id }}", 
			description: $("input[name=description]").val(), 
			points: $("select[name=points]").val()
		},
		function(data) {
			$("#rules").append('<li class="rule" id="'+data.id+'"><div class="text">'+data.points+' when... '+data.desc+'</div><a class="button delete" onclick="delete_rule('+data.id+')">Delete</a></li>');
			$("input[name=description]").val(""), 
			$("select[name=points]").val("Drink")
		},
		"json");
		return false;
}
function delete_rule(id)
{
	$.get("/rule/delete/"+id,
		function(data) {
			if(data == "success")
				$("#"+id).remove();
		}
	);
}
</script>
{% endblock %}